<!-- <section class="newsletter-section py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-4 mb-4">Stay Updated</h2>
        <p class="lead mb-5">Subscribe to our newsletter for the latest news, updates, and exclusive offers.</p>
        <form class="newsletter-form">
          <div class="input-group mb-3">
            <input type="email" class="form-control form-control-lg" placeholder="Enter your email" aria-label="Enter your email" 
            [(ngModel)]="email" (keydown.enter)="subs(email)" required>
            <button class="btn btn-primary btn-lg" type="submit">Subscribe</button>
          </div>
          <div class="form-check text-start">
          
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->


    <section>
    <div class="card" >
  <h2 class="title" >SUBSCRIBE</h2>
  <p class="text" >To get news about our offers and promocodes, Enter your email!</p>
  
  <form class="form" action="" (ngSubmit)="subs(email)">
    <input class="input" type="email" [(ngModel)]="email" placeholder="Enter your email here.." > 
 
  </form>
  
</div>
</section>
<!-- <script>
    const card = document.querySelector('.card'),
      input = document.querySelector('.input'),
      line2 = document.querySelector('.line2');
document.querySelector('.form').addEventListener('submit', function(e) {
  input.blur();
  card.classList.add('saving');
  e.preventDefault();
});
line2.addEventListener('animationend', function(e) {
  setTimeout(() => {
    card.classList.add('done');
  }, 1000);
});

</script> -->
