<section class="how-it-works py-5  ">

    <div class="container">

        <div class="text-center mb-5">

            <h2 class="fw-bold">{{"howItWorks.title" |translate}}</h2>

            <p class="text-muted">
                {{"howItWorks.subtitle" | translate}}
            </p>

        </div>

        <div class="row g-4">

            <!-- Step 1 -->
            <div class="col-md-4">

                <div class="step-card text-center p-4">

                    <div class="step-image">

                        <img src="https://res.cloudinary.com/taskrabbit-com/image/upload/c_limit,f_auto,q_auto,w_800/static/how-it-works-step-1"
                            alt="step 1">

                    </div>

                    <div class="step-number">1</div>

                    <h5 class="fw-bold mt-3">{{"howItWorks.step1Title" | translate}}</h5>

                    <p class="text-muted">
                        {{ "howItWorks.step1Desc" | translate}}
                    </p>

                </div>

            </div>

            <!-- Step 2 -->
            <div class="col-md-4">

                <div class="step-card text-center p-4">

                    <div class="step-image">

                        <img src="https://res.cloudinary.com/taskrabbit-com/image/upload/c_limit,f_auto,q_auto,w_800/static/how-it-works-step-2"
                            alt="step 2">

                    </div>

                    <div class="step-number">2</div>

                    <h5 class="fw-bold mt-3"> {{"howItWorks.step2Title" | translate}} </h5>

                    <p class="text-muted">
                        {{ "howItWorks.step2Desc" | translate}}
                    </p>

                </div>

            </div>

            <!-- Step 3 -->
            <div class="col-md-4">

                <div class="step-card text-center p-4">

                    <div class="step-image">

                        <img src="https://res.cloudinary.com/taskrabbit-com/image/upload/c_limit,f_auto,q_auto,w_800/static/how-it-works-step-3"
                            alt="step 3">

                    </div>

                    <div class="step-number">3</div>

                    <h5 class="fw-bold mt-3">{{"howItWorks.step3Title" | translate}} </h5>

                    <p class="text-muted">
                        {{ "howItWorks.step3Desc" | translate}}
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>