<section class="hero-section d-flex align-items-center justify-content-center text-center text-white px-3">
    <div class="container">

        <div class="mb-4">
            <span class="badge badge-pill-custom text-uppercase">
                🇪🇬 {{ "hero.badge" | translate }}
            </span>
        </div>
        <h1 class="display-4 fw-bold mb-3 class-title">
            {{ "hero.titleLine1" | translate }}
            <span class="text-orange">
                {{ "hero.titleHighlight1" | translate }}
            </span>
            <br>
            <span class="text-orange">
                {{ "hero.titleHighlight2" | translate }}
            </span>
            {{ "hero.titleLine2" | translate }}
        </h1>

        <p class="lead opacity-75 mx-auto mb-5" style="max-width: 650px; font-size: 1.1rem;">
            {{ "hero.description" | translate }}
        </p>

        <div class="d-flex flex-column flex-sm-row justify-content-center gap-3">

            @if (showBookNow()) {
                <a (click)="bookNow()" role="button" class="btn bg-orange text-white fw-semibold p-3 rounded-3 shadow-sm" style="cursor: pointer;">
                    {{ "hero.bookService" | translate }}
                </a>
            }

            <a routerLink="/services" class="btn btn-browse fw-semibold p-3 rounded-3">
                {{ "hero.browseServices" | translate }}
            </a>
        </div>
    </div>
</section>